<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fuchsine.dao.shopcar.ShopCarMapper">



    <resultMap id="shopcar_arictle" type="shopcar">
        <result property="articleId" column="articleId"/>
        <association property="article" column="articleId" javaType="Article" select="getArticle"/>
    </resultMap>
    <select id="getArticle" resultType="article">
        select *from ec_article where id=#{articleId}
    </select>

    <select id="findShopCar" resultMap="shopcar_arictle">
        select *from ec_shopcar where userId= #{id}
    </select>

    <update id="addone">
        update ec_shopcar set buyNum = (buyNum+1) where userId = #{userid} and articleId =#{ articleid}
    </update>

    <update id="lowerone">
        update ec_shopcar set buyNum = (buyNum-1) where userId = #{userid} and articleId =#{ articleid}
    </update>

    <select id="selectByname"   resultMap="shopcar_arictle">
        select* from ec_shopcar where  userId = #{userid} and articleId =#{ articleid}
    </select>

    <delete id="deelete">
    delete from  ec_shopcar where userId = #{userid} and articleId =#{ articleid}
</delete>

    <insert id="addshopcar" parameterType="shopcar">
        insert into ec_shopcar (articleId, buyNum, userId)value (#{articleId},#{buyNum},#{userId})
    </insert>

    <update id="upData">
        update ec_shopcar set buyNum = #{newByNum} where userId = #{userid} and articleId =#{articleid}
    </update>

    <delete id="deleteshopcar">
        delete from ec_shopcar where ID=#{id}
    </delete>


</mapper>